@model Website.Models.Video

@{
    ViewData["Title"] = "Details";
}
<style>
    .container {
        color: wheat;
        background-color: #003F72;
    }
</style>

<div class="container">
    <h2>Details</h2>
    <div>
        <h4>Video</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Url)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Url)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.VideoID">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>