@model Website.Models.ResumeView
@{
    ViewData["Title"] = "Index";
}
<style>
    .container{
        margin-top: 8px;
        border-radius: 25px;
        background-color: #0C4F8D;
        color: white;
        height: 90%;
        margin-bottom: 40px;
    }
    hr{
        background-color: black;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <h2>@Html.DisplayNameFor(Model => Model.Introduction)</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p> @Html.DisplayTextFor(Model => Model.Introduction)</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2> Education </h2>
            <hr />
        </div>
        <div class="col-lg-4">
            @if (User.IsInRole("admin")){
            <h2>
                <a asp-area="" asp-controller="Education" asp-action="Index"> Edit </a>
            </h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul>
                @foreach (var item in Model.Education)
                {
                    <li>
                        <h4>
                            @Html.DisplayFor(ModelItem => item.Degree)
                            <text> - </text>
                            @Html.DisplayFor(ModelItem => item.School)
                        </h4>
                    </li>

                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2> Experience and Job History </h2>
            <hr />
        </div>
        <div class="col-lg-4">
            @if (User.IsInRole("admin"))
            {
            <h2>              
                <a asp-area="" asp-controller="Experiences" asp-action="Index"> Edit </a>
            </h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul>
                @foreach (var item in Model.WorkExperience)
                {
                    <li>
                        <h4>
                            @Html.DisplayFor(ModelItem => item.Title)
                            <text> - </text>
                            @Html.DisplayFor(ModelItem => item.Description)
                            <text> - </text>
                            @Html.DisplayFor(ModelItem => item.StartDate)
                            <text>:</text>
                            @Html.DisplayFor(ModelItem => item.EndDate)
                        </h4>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2> Skills and Certifcations</h2>
            <hr />
        </div>
        <div class="col-lg-4">
            @if (User.IsInRole("admin"))
            {
            <h2> 
                <a asp-area="" asp-controller="Skills" asp-action="Index"> Edit </a>
            </h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <ul>
                @foreach (var item in Model.SkillSets)
                {
                    <li>
                        <h4>
                            @Html.DisplayFor(ModelItem => item.Title)
                            <text> - </text>
                            @Html.DisplayFor(ModelItem => item.Description)

                        </h4>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>